{{ form_start(form) }}
    {% if prestation is defined() %}
        {{ form_widget(form, {data: {objet: prestation}}) }}
    {% else %}
        {{ form_widget(form)}}
    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
