{% extends 'base.html.twig' %}

{% block title %}Formulaire index{% endblock %}

{% block body %}
    <h1>Formulaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Ville</th>
                <th>Societe</th>
                <th>Objet</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formulaire in formulaires %}
            <tr>
                <td>{{ formulaire.id }}</td>
                <td>{{ formulaire.nom }}</td>
                <td>{{ formulaire.mail }}</td>
                <td>{{ formulaire.ville }}</td>
                <td>{{ formulaire.societe }}</td>
                <td>{{ formulaire.objet }}</td>
                <td>{{ formulaire.contenu }}</td>
                <td>
                    <a href="{{ path('formulaire_show', {'id': formulaire.id}) }}">show</a>
                    <a href="{{ path('formulaire_edit', {'id': formulaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formulaire_new') }}">Create new</a>
{% endblock %}
