{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block left_column %}
<h2> Colonne de gauche </h2>
<p> Ceci est un test</p>

{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Vignette</th>
                <th>Resume</th>
                <th>Date</th>
                {% if is_granted('ROLE_ADMIN') %}                
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                {% if article.vignette is defined %}
                    <td>{{ article.vignette }}</td>
                {% else %}
                    <td> No thumbnail </td>
                {% endif %}
                <td>{{ article.resume }}</td>
                <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('article_show', {'id': article.id}) }}">Lire l'article</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                    {% endif %}
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('article_new') }}">Create new</a>
    {% endif %}
{% endblock %}
