{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ article.resume }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
            </tr>
            {{ include 'commentaire/show '}}
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

        {{ include('article/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
